:root
{
    --oscuro: #0d1b2a;
    --fuerte: #1b263b;
    --medio: #415a77;
    --claro: #778da9;
    --gris: #e0e1dd;
}

body 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--fuerte);
    color: var(--gris);
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 0;
    padding-top: 100px;
    height: 100%;
}

.content 
{
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main 
{
    flex: 1;
}

/* Menú navegación */
.navbar-brand 
{
    font-weight: bold;
}

.bg-navbar 
{
    background-color: var(--oscuro);
}

.logo 
{
    width: 35px;
    height: 35px;
}

.nav-link 
{
    color: var(--gris);
    transition: color 0.3s ease;
    text-align: center;
    padding: 10px;
}

.nav-link:hover 
{
    color: white;
    transform: scaleX(1.1);
}

/* Footer */
footer 
{
    background-color: var(--oscuro);
    color: white;
    margin-top: 20px;
}